@charset "UTF-8";
@import "../dist/css/slick.css";
@import "../fonts/font-awesome-4.7.0/scss/_variables.scss";
@import "../fonts/font-awesome-4.7.0/scss/font-awesome.scss";

@font-face {
  font-family: FontAwesome;
  src: url(../../fonts/font-awesome-4.7.0/fonts/fontawesome-webfont.eot?v=4.7.0);
  src: url(../../fonts/font-awesome-4.7.0/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0) format("embedded-opentype"), url(../../fonts/font-awesome-4.7.0/fonts/fontawesome-webfont.woff2?v=4.7.0) format("woff2"), url(../../fonts/font-awesome-4.7.0/fonts/fontawesome-webfont.woff?v=4.7.0) format("woff"), url(../../fonts/font-awesome-4.7.0/fonts/fontawesome-webfont.ttf?v=4.7.0) format("truetype"), url(../../fonts/font-awesome-4.7.0/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular) format("svg");
  font-weight: 400;
  font-style: normal
}

//font
@font-face {
  font-family: 'Microsoft New Tai Lue';
  src: url('../../fonts/Microsoft New Tai Lue/MicrosoftNewTaiLue.woff2') format('woff2'),
  url('../../fonts/Microsoft New Tai Lue/MicrosoftNewTaiLue.woff') format('woff'),
  url('../../fonts/Microsoft New Tai Lue/MicrosoftNewTaiLue.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Microsoft New Tai Lue bold';
  src: url('../../fonts/Microsoft New Tai Lue/MicrosoftNewTaiLue-Bold.woff2') format('woff2'),
  url('../../fonts/Microsoft New Tai Lue/MicrosoftNewTaiLue-Bold.woff') format('woff'),
  url('../../fonts/Microsoft New Tai Lue/MicrosoftNewTaiLue-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

//scroll
::-webkit-scrollbar-button {
  background: #454545;
  width: 5px;
  height: 0
}

::-webkit-scrollbar-track {
  background-color: #ecedee
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0;
  background-color: #3d3d3d;
  border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #595959;
}

::-webkit-resizer {
  width: 4px;
  height: 0
}

::-webkit-scrollbar {
  width: 10px;
}

body {
  font: 18px 'Microsoft New Tai Lue';
  overflow-x: hidden;
  user-select: none;
}

a, button {
  text-decoration: none;
  outline: none;
  &:active, &:hover, &:focus {
    text-decoration: none;
    outline: none;
  }
}

/*===========================================*/

#short_link {
  color: #fff;
  background: url(../img/gallery-img5.png) no-repeat;
  background-clip: text;
  font-weight: bolder;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

//hov
.gallery {
  position: relative;
  min-height: 1324px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 200px;

  .slide {
    display: block;
    position: absolute;
    z-index: -100;

    img {
      top: 0;
      left: 0;
      width: 100%;
      perspective: 400;
    }
  }
  .one {
    left: -4%;
    top: -5%;
    width: 677px;
    perspective: 400;
  }
  .two {
    left: 50%;
    top: -6%;
    margin-left: -157px;
    perspective: 400;
  }
  .three {
    right: -6%;
    top: -5%;
    perspective: 400;
  }
  .four {
    left: -8%;
    bottom: -5%;
    perspective: 400;
  }
  .five {
    left: 50%;
    margin-left: -353px;
    bottom: -7%;
    perspective: 400;
  }
  .six {
    right: -8%;
    top: 50%;
    margin-top: -192px;
    perspective: 400;
  }
  .seven {
    right: -8%;
    bottom: -4%;
    perspective: 400;
  }
  .gallery-content {
    z-index: 5;
    max-width: 930px;
    position: relative;
    h3 {
      font: 60px "Microsoft New Tai Lue bold";
      font-weight: bold;
      color: #2e3645;
    }
    p {
      font: 35px "Microsoft New Tai Lue bold";
      color: #2e2d2d;
      margin-bottom: 30px;
    }
    span {
      font-size: 30px;
      color: #050505;
    }

  }
}

.gallery.gallery-two {

  .two {
    top: 50%;
    left: 0;
    margin-top: -275px;
  }
  .gallery-content{
    .descrin-gallery {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      h3 {
        white-space: nowrap;
        font: 74px 'Microsoft New Tai Lue bold';
        font-weight: bold;
        color: #131313;
        background: #ffffff;
        padding: 10px 10px 0;
        line-height: 1;
        letter-spacing: 5px;
        margin-bottom: 25px;
      }
      a{
        padding: 35px 75px;
        background: linear-gradient(to right,#232323,#3d3d3d);
        font-family: 'Microsoft New Tai Lue bold';
        font-weight: bold;
        font-size: 32px;
        color: #ffffff;
        letter-spacing: 5px;
      }
    }
  }
}

//scroll
.scroll {
  z-index: 99999;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  a.link-scroll {
    color: #131313;
    display: block;
    height: 80px;
    .text-sc {
      display: inline-block;
      transform: rotate(-90deg);
      font-size: 24px;
      top: 15px;
      left: 10px;
      position: relative;
    }
    span.glyphicon {
      top: 55px;
      left: -30px;
      font-size: 20px;
    }
    &:hover {
      color: #131313;
      text-decoration: none;
    }
  }
}

.scroll.left {
  left: 40px;
}

.scroll.right {
  right: 40px;
}

//header
section.wrapper-hd {
  position: relative;
  i.heb-bg1 {
    position: absolute;
    top: 100px;
    left: 0;
    &:after {
      content: url("../../dist/img/bac-1.png");
      display: block;
    }
  }
  i.heb-bg2 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    &:after {
      content: url("../../dist/img/bac-2l.png");
      display: block;
    }
  }
  i.heb-bg3 {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    &:after {
      content: url("../../dist/img/bac-3r.png");
      display: block;
    }
  }
  padding-bottom: 80px;
  .container-fluid.pad-0 {
    padding: 0;

    nav.navbar {
      border: none;
      background: transparent;
      padding: 30px 115px;
      margin-bottom: 0;

      .container-fluid {

        .navbar-header {

          a.navbar-brand {
            width: 307px;
            height: 92px;
            padding: 0;
            float: none;
            display: block;
            img {
              width: 100%;
            }
          }
        }
        div.navbar-collapse {

          ul.navbar-right {
            display: flex;
            align-items: center;
            height: 93px;
            li {
              margin: 0 12px;
              list-style: none;
              a {
                padding: 5px;
                font: 25px 'Microsoft New Tai Lue';
                font-weight: bold;
                color: #1f1f1f;
                position: relative;
                &:after {
                  position: absolute;
                  content: "";
                  width: 80%;
                  height: 2px;
                  left: 50%;
                  transform: translateX(-50%);
                  bottom: 0;
                  background: #000;
                  opacity: 0;
                }
                &:hover:after {
                  opacity: 1;
                }
                &:active, &:hover {
                  border: none;
                  outline: none;
                  outline-offset: 0;
                  text-decoration: none;
                }
              }
            }
          }
        }
      }
    }
    .box-cont {
      width: 100%;
      position: relative;

      .box-ban {
        position: absolute;
        width: 45%;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background: #ffffff;
        padding: 110px 37px 110px 0;
        .box-content {
          max-width: 660px;
          margin: 0 0 auto auto;

          h1 {
            font: 80px 'Microsoft New Tai Lue bold';
            font-weight: bold;
            background: -webkit-linear-gradient(145deg, #fff, #000);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            position: relative;
            &:before {
              position: absolute;
              content: "";
              background: url("../../dist/img/text-bg.png");
              bottom: -25%;
              left: -345px;
              width: 100%;
              height: 100%;
            }
          }
          p {
            padding-left: 40px;
            font: 25px 'Microsoft New Tai Lue';
          }
        }
      }

      .wrapper-video {
        margin: 0 auto;
        width: 85%;
        height: 820px;
        box-shadow: -6px 1px 100px -7px #333;
        &:after {
          position: absolute;
          content: "";
          width: 50%;
          height: 100px;
          background: url("../../dist/img/vid-p.png") no-repeat;
          bottom: -1px;
        }
      }
      .wr-link-nw {
        position: absolute;
        left: 50%;
        top: 80%;
        transform: translateX(-50%);
        a.new {
          display: block;
          font-size: 32px;
          color: #ffffff;
          padding: 30px 40px;
          background: linear-gradient(to right, #232323, #3d3d3d);
          letter-spacing: 5px;
          font-weight: bold;
          span {
            margin-left: 10px;
            font-weight: 100;
            font-size: 27px;
            vertical-align: -2px;
          }
        }
      }
    }
  }
}

//slider
.secsh-slid {
  position: relative;
  background: url("../../dist/img/bac-1.png") center center,
  url("../../dist/img/slid-dg-2.png") right bottom;
  i.bg-left {
    position: absolute;
    left: 0;
    bottom: -195px;
    z-index: -1;
    &:after {
      content: url("../../dist/img/slider-bg-1.png");
      display: block;
    }
  }
  i.bg-right {
    position: absolute;
    right: 0;
    bottom: -125px;
    z-index: -1;
    &:after {
      content: url("../../dist/img/slider-bd2.png");
      display: block;
    }
  }
  .center {
    .slick-prev.slick-arrow {
      position: absolute;
      top: 50%;
      left: 150px;
      transform: translateY(-50%);
      z-index: 1;
      background: transparent;
      border: none;
      color: transparent;
      width: 60px;
      height: 60px;
      display: flex;
      justify-content: center;
      outline: none;
      span {
        color: #464646;
        font-size: 35px;
      }
    }
    .slick-next.slick-arrow {
      position: absolute;
      top: 50%;
      right: 150px;
      transform: translateY(-50%);
      z-index: 1;
      background: transparent;
      border: none;
      color: transparent;
      width: 60px;
      height: 60px;
      display: flex;
      justify-content: center;
      outline: none;
      span {
        font-size: 35px;
        color: #464646;
      }
    }
    .slick-list.draggable {
      overflow: hidden;
      position: relative;
      height: 1055px;
      &:before {
        position: absolute;
        content: "";
        width: 500px;
        height: 420px;
        z-index: 9999;
        background: url("../../dist/img/p-slid.png");
        left: 27%;
        top: -19%;
        transform: translateX(-50%);
      }
      .slick-track {
        display: flex;
        .slick-slide {
          float: none;
          box-shadow: 0 35px 127px -28px #333;
          position: relative;
          outline: none;
          .link-product {
            position: absolute;
            left: 50%;
            bottom: 8%;
            transform: translateX(-50%);
            font-size: 32px;
            letter-spacing: 7px;
            font-weight: bold;
            padding: 20px 52px;
            color: #ffffff;
            border-radius: 0;
            border: 3px solid #ffffff;
            opacity: 0;
            cursor: context-menu;
          }
          img {
            width: 100%;
          }
          &.slick-active.slick-center {
            margin: 75px 8px 0;
            transform: scale(1.1);
            z-index: 999;
            transition: all .3s ease;
            .link-product {
              opacity: 1;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

//box
.container-fluid {
  //box 1
  .wrapper-box {
    margin: 0 -15px;
    position: relative;
    padding-bottom: 170px;
    background: transparent url("../../dist/img/bac-1.png");
    background-size: cover;
    z-index: -1;
    i.p-box {
      position: absolute;
      left: 35%;
      bottom: -686px;
      z-index: 1;
      &:after {
        content: url("../../dist/img/box-bg-p.png");
        display: block;
      }
    }
    i.box-ce {
      position: absolute;
      left: 35%;
      bottom: -450px;
      z-index: -1;
      &:after {
        content: url("../../dist/img/box-bg-centr.png");
        display: block;
      }
    }
    i.box-bg1 {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      &:after {
        content: url("../../dist/img/box-bg1.png");
        display: block;
      }
    }
    i.box-bg2 {
      position: absolute;
      bottom: -285px;
      left: 67px;
      z-index: -1;
      &:after {
        content: url("../../dist/img/box-bg2.png");
        display: block;
      }
    }
    i.box-bg-r {
      position: absolute;
      bottom: -285px;
      right: 0;
      z-index: -1;
      &:after {
        content: url("../../dist/img/box1-bg-r.png");
        display: block;
      }
    }
    .box-text.p-l {
      left: 0;
    }
    .box-text {
      height: 610px;
      padding: 160px 220px 160px 475px;
      margin: auto 0;
      margin-top: -85px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background: linear-gradient(to right, rgba(255, 255, 255, 0), #ffffff 40%);
      z-index: 11;
      h2, p {
        max-width: 457px;
      }
      h2 {
        font: 50px 'Microsoft New Tai Lue bold';
        color: #2e3645;
        font-weight: bold;
        margin-bottom: 15px;
      }
      p {
        font-size: 18px;
        color: #2e2d2d;
        margin-bottom: 40px;
      }
    }
    .box-img {
      float: right;
    }
  }
  //box2
  .wrapper-box.box-two {
    background: url("../../dist/img/bac-1.png");
    background-size: cover;
    i.box2-p {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
      &:after {
        content: url("../../dist/img/box2-bg-p.png");
        display: block;
      }
    }
    i.box2-bg-tt {
      position: absolute;
      left: 0;
      top: -60%;
      z-index: -1;
      &:after {
        content: url("../../dist/img/box2-bg-tt.png");
        display: block;
      }
    }
    .box-img {
      float: left;
    }
    .box-text.p-r {
      right: 0;
      background: linear-gradient(to left, rgba(255, 255, 255, 0), #ffffff 40%);
      padding: 160px 475px 160px 220px;
    }
  }
}

///////////////////////
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

/////////////////////////////
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@keyframes myanim1 {
  from {
    opacity: 0;
    -webkit-transform: translate3d(1089px, 500px, 0) translateX(-500px) rotate(-45deg) perspective(1100px) rotate3d(0, -100, -30, -220deg);
    transform: translate3d(1089px, 500px, 0) translateX(-500px) rotate(-45deg) perspective(1100px) rotate3d(0, -100, -30, -220deg);
    z-index: -1;
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) rotate(0) perspective(0) rotate3d(0, 0, 0, 0);
    transform: translate3d(0, 0, 0) rotate(0) perspective(0) rotate3d(0, 0, 0, 0);
    z-index: -1;
  }
}

.anim-1-box2 {
  animation-name: myanim1;
  animation-duration: 1s;
  transition: all .4s;
}

/////////////
@keyframes myanim2 {
  from {
    -webkit-transform: translate3d(-1089px, 500px, 0) translateX(-500px) rotate(45deg) perspective(500px) rotate3d(0, -100, -30, -135deg);
    transform: translate3d(-1089px, 500px, 0) translateX(-500px) rotate(45deg) perspective(500px) rotate3d(0, -100, -30, -135deg);
    z-index: -1;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0) rotate(0) perspective(0) rotate3d(0, 0, 0, 0);
    transform: translate3d(0, 0, 0) rotate(0) perspective(0) rotate3d(0, 0, 0, 0);
    z-index: -1;
  }
}

.anim-2-box2 {
  animation-name: myanim2;
  animation-duration: .4s;
  transition: all .4s ease;
}

/////////////////////////////
@keyframes myanim3 {
  from {
    opacity: 0;
    -webkit-transform: translate3d(1089px, 500px, 0) translateX(-500px) rotate(-45deg) perspective(1100px) rotate3d(0, -100, -30, -220deg);
    transform: translate3d(1089px, 500px, 0) translateX(-500px) rotate(-45deg) perspective(1100px) rotate3d(0, -100, -30, -220deg);
    z-index: -1;
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) rotate(0) perspective(0) rotate3d(0, 0, 0, 0);
    transform: translate3d(0, 0, 0) rotate(0) perspective(0) rotate3d(0, 0, 0, 0);
    z-index: -1;
  }
}

.anim-3-box2 {
  animation-name: myanim3;
  animation-duration: 1s;
  transition: all .4s;
}

/////////////
//anim slider
@keyframes myAnimSlider {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.myAnimSlider {
  animation-name: myAnimSlider;
  animation-duration: .6s;
}

//footer
.container-fluid {

  .wrapper-cont-footer {
    padding: 20px 10% 45px;
    margin: 0 -15px;
    z-index: 999;
    .box-link {
      margin-bottom: 30px;
      a {
        display: inline-block;
        margin: -5px 20px;
        padding: 5px;
        i {
          font-size: 30px;
          color: #373f48;
        }
      }
      span.wp-link-us {
        display: block;
        margin-top: 35px;
        a {
          font-family: 'Microsoft New Tai Lue bold';
          font-weight: bold;
          font-size: 25px;
          color: #1f1f1f;
          text-decoration: underline;
        }
      }
    }
    .st-description {
      p {
        color: #b6b6b6;
        font-size: 18px;
      }
    }
  }
}